# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/

# Environment
venv/
venv/*

# Django
*.log
staticfiles/
static/
media/

# VSCode
.vscode/

# PyCharm/JetBrains
.idea/

# OS files
.DS_Store
Thumbs.db

# dotenv
.env
.env.*

# Migrations (optional – uncomment if you want to ignore)
# */migrations/*.py
# !*/migrations/__init__.py
